@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-auto-fit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 1rem;
  }
}